* text=auto eol=lf
*.txt -text
*.str -text
*.wav binary
*.bmp binary
*.bik binary
*.smk binary
*.act binary
*.pcx binary
*.bin binary
*.lod binary
*.snd binary
*.vid binary
*.exe binary
*.res binary
*.7z binary
*.zip binary
*.png binary
*.ico binary
